# Covid-19 data download & processing
---
This Python Script downloads an up-to-date dataset for **Covid-19** and exports the data to the data folder.

The Data is from the **R**obert **K**och **I**nstitut downloaded over [ArcGis Hub](https://hub.arcgis.com/datasets/dd4580c810204019a7b8eb3e0b329dd6?page=15976).

*Script was created on Python: 3.7.6 64-bit Kernel*

In [1]:
import pandas as pd
import math

import io               # file operations
import json

import ssl              # secure client-server connection
import requests         # html-requests

In [2]:
# Uncomment next 2 lines to install jsonmerge
#import sys
#!{sys.executable} -m pip install jsonmerge
from jsonmerge import Merger

In [3]:
sourceURL = 'https://services7.arcgis.com/mOBPykOjAyBO2ZKk/arcgis/rest/services/RKI_COVID19/FeatureServer/0/query?'
objectIdsQuery = 'where=1%3D1&returnIdsOnly=true&f=json'
dataSetQuery = 'where=ObjectId+BETWEEN+0+AND+0' # just an example gets created later dynamically
dataQuery = '&outSR=4326&outFields=IdBundesland,Bundesland,Landkreis,Altersgruppe,AnzahlFall,AnzahlTodesfall,ObjectId,Meldedatum,IdLandkreis,Datenstand,NeuerFall,NeuerTodesfall,Refdatum,NeuGenesen,AnzahlGenesen,IstErkrankungsbeginn&f=json'

## Requesting which Features (ObjectID´s) are available

In [4]:
objectIdsRequest = requests.get(sourceURL + objectIdsQuery)
objectIdsRequest.status_code

200

In [5]:
objectIds = json.loads(objectIdsRequest.text)

numOfObjectIds = len(objectIds['objectIds'])

objectIdStart = objectIds['objectIds'][0]
objectIdEnd = objectIds['objectIds'][numOfObjectIds - 1]
print(f'Range of ObjectIds: [{objectIdStart}, {objectIdEnd}]')

Range of ObjectIds: [28886606, 29068508]

## Requesting Features

In [6]:
dataRequest = requests.get(sourceURL + 'where=1%3D1' + dataQuery)
dataRequest.status_code

200

In [7]:
data = json.loads(dataRequest.text)
maxApiRequest = len(data['features'])

neededRequests = math.ceil(numOfObjectIds / maxApiRequest)

print(f'The download will require {neededRequests - 1} more requests due to the server limit of {maxApiRequest} features/request.')

The download will require 36 more requests due to the server limit of 5000 features/request.

In [8]:
# Json-Merger with custom rule
jsonMergeSchema = {"properties":{"features":{"mergeStrategy":"append"}}}
dataMerger = Merger(jsonMergeSchema)

In [9]:
i = 0
rangeLowerEnd = data['features'][maxApiRequest - 1]['attributes']['ObjectId'] + 1
rangeUpperEnd = rangeLowerEnd + maxApiRequest

while (i < neededRequests - 1): # neededRequests - 1 because of initial download
    dataSetQuery = f'where=ObjectId+BETWEEN+{rangeLowerEnd}+AND+{rangeUpperEnd}'
    temp_sourceURL = sourceURL + dataSetQuery + dataQuery
    print(i, f'Pulling ObjectIds: [{rangeLowerEnd}, {rangeUpperEnd}]')

    temp_dataRequest = requests.get(temp_sourceURL)
    if (temp_dataRequest.status_code > 200): # stop when a request isn´t working
        print(f'Error in request: {temp_dataRequest.status_code}')
        break
    temp_data = json.loads(temp_dataRequest.text)

    # append new data to already downloaded one
    data = dataMerger.merge(data, temp_data)

    temp_dataLength = len(data['features'])
    t_le = data['features'][0]['attributes']['ObjectId']
    t_ue = data['features'][temp_dataLength - 1]['attributes']['ObjectId']
    print(f'Total collected features: {temp_dataLength} From ObjectIds: [{t_le}, {t_ue}]')

    rangeLowerEnd = rangeUpperEnd + 1
    rangeUpperEnd += maxApiRequest + 1
    if (rangeUpperEnd > objectIdEnd):
        rangeUpperEnd = objectIdEnd
    i += 1

print('Done')

0 Pulling ObjectIds: [28891606, 28896606]
Total collected features: 10000 From ObjectIds: [28886606, 28896605]
1 Pulling ObjectIds: [28896607, 28901607]
Total collected features: 15000 From ObjectIds: [28886606, 28901606]
2 Pulling ObjectIds: [28901608, 28906608]
Total collected features: 20000 From ObjectIds: [28886606, 28906607]
3 Pulling ObjectIds: [28906609, 28911609]
Total collected features: 25000 From ObjectIds: [28886606, 28911608]
4 Pulling ObjectIds: [28911610, 28916610]
Total collected features: 30000 From ObjectIds: [28886606, 28916609]
5 Pulling ObjectIds: [28916611, 28921611]
Total collected features: 35000 From ObjectIds: [28886606, 28921610]
6 Pulling ObjectIds: [28921612, 28926612]
Total collected features: 40000 From ObjectIds: [28886606, 28926611]
7 Pulling ObjectIds: [28926613, 28931613]
Total collected features: 45000 From ObjectIds: [28886606, 28931612]
8 Pulling ObjectIds: [28931614, 28936614]
Total collected features: 50000 From ObjectIds: [28886606, 28936613]
9 Pulling ObjectIds: [28936615, 28941615]
Total collected features: 55000 From ObjectIds: [28886606, 28941614]
10 Pulling ObjectIds: [28941616, 28946616]
Total collected features: 60000 From ObjectIds: [28886606, 28946615]
11 Pulling ObjectIds: [28946617, 28951617]
Total collected features: 65000 From ObjectIds: [28886606, 28951616]
12 Pulling ObjectIds: [28951618, 28956618]
Total collected features: 70000 From ObjectIds: [28886606, 28956617]
13 Pulling ObjectIds: [28956619, 28961619]
Total collected features: 75000 From ObjectIds: [28886606, 28961618]
14 Pulling ObjectIds: [28961620, 28966620]
Total collected features: 80000 From ObjectIds: [28886606, 28966619]
15 Pulling ObjectIds: [28966621, 28971621]
Total collected features: 85000 From ObjectIds: [28886606, 28971620]
16 Pulling ObjectIds: [28971622, 28976622]
Total collected features: 90000 From ObjectIds: [28886606, 28976621]
17 Pulling ObjectIds: [28976623, 28981623]
Total collected features: 95000 From ObjectIds: [28886606, 28981622]
18 Pulling ObjectIds: [28981624, 28986624]
Total collected features: 100000 From ObjectIds: [28886606, 28986623]
19 Pulling ObjectIds: [28986625, 28991625]
Total collected features: 105000 From ObjectIds: [28886606, 28991624]
20 Pulling ObjectIds: [28991626, 28996626]
Total collected features: 110000 From ObjectIds: [28886606, 28996625]
21 Pulling ObjectIds: [28996627, 29001627]
Total collected features: 115000 From ObjectIds: [28886606, 29001626]
22 Pulling ObjectIds: [29001628, 29006628]
Total collected features: 120000 From ObjectIds: [28886606, 29006627]
23 Pulling ObjectIds: [29006629, 29011629]
Total collected features: 125000 From ObjectIds: [28886606, 29011628]
24 Pulling ObjectIds: [29011630, 29016630]
Total collected features: 130000 From ObjectIds: [28886606, 29016629]
25 Pulling ObjectIds: [29016631, 29021631]
Total collected features: 135000 From ObjectIds: [28886606, 29021630]
26 Pulling ObjectIds: [29021632, 29026632]
Total collected features: 140000 From ObjectIds: [28886606, 29026631]
27 Pulling ObjectIds: [29026633, 29031633]
Total collected features: 145000 From ObjectIds: [28886606, 29031632]
28 Pulling ObjectIds: [29031634, 29036634]
Total collected features: 150000 From ObjectIds: [28886606, 29036633]
29 Pulling ObjectIds: [29036635, 29041635]
Total collected features: 155000 From ObjectIds: [28886606, 29041634]
30 Pulling ObjectIds: [29041636, 29046636]
Total collected features: 160000 From ObjectIds: [28886606, 29046635]
31 Pulling ObjectIds: [29046637, 29051637]
Total collected features: 165000 From ObjectIds: [28886606, 29051636]
32 Pulling ObjectIds: [29051638, 29056638]
Total collected features: 170000 From ObjectIds: [28886606, 29056637]
33 Pulling ObjectIds: [29056639, 29061639]
Total collected features: 175000 From ObjectIds: [28886606, 29061638]
34 Pulling ObjectIds: [29061640, 29066640]
Total collected features: 180000 From ObjectIds: [28886606, 29066639]
35 Pulling ObjectIds: [29066641, 29068508]
Total collected features: 181868 From ObjectIds: [28886606, 29068508]
Done

In [10]:
print('Entries: ', len(data['features']))
print('Structure: ', data['features'][0])
print('Latest data: ', data['features'][0]['attributes']['Datenstand'])

Entries:  181868
Structure:  {'attributes': {'IdBundesland': 1, 'Bundesland': 'Schleswig-Holstein', 'Landkreis': 'SK Flensburg', 'Altersgruppe': 'A05-A14', 'AnzahlFall': 1, 'AnzahlTodesfall': 0, 'ObjectId': 28886606, 'Meldedatum': 1597449600000, 'IdLandkreis': '01001', 'Datenstand': '18.08.2020, 00:00 Uhr', 'NeuerFall': 0, 'NeuerTodesfall': -9, 'Refdatum': 1597449600000, 'NeuGenesen': -9, 'AnzahlGenesen': 0, 'IstErkrankungsbeginn': 0}}
Latest data:  18.08.2020, 00:00 Uhr

In [11]:
def display_n(df,n): 
    with pd.option_context('display.max_rows',n*2):
        display(df)

In [12]:
dfx = pd.DataFrame.from_dict(data['features'])
display_n(dfx, 2)

                                               attributes
0       {'IdBundesland': 1, 'Bundesland': 'Schleswig-H...
1       {'IdBundesland': 1, 'Bundesland': 'Schleswig-H...
...                                                   ...
181866  {'IdBundesland': 16, 'Bundesland': 'Thüringen'...
181867  {'IdBundesland': 16, 'Bundesland': 'Thüringen'...

[181868 rows x 1 columns]

In [13]:
# turning the collumn attributes in seperated collumns
for rowid in data['fields']:
    dfx[rowid['name']] = dfx.apply(lambda row: row.loc['attributes'][rowid['name']], axis=1)
dfx = dfx.drop(['attributes'], axis=1)
display_n(dfx, 2)

,IdBundesland,Bundesland,Landkreis,Altersgruppe,AnzahlFall,AnzahlTodesfall,ObjectId,Meldedatum,IdLandkreis,Datenstand,NeuerFall,NeuerTodesfall,Refdatum,NeuGenesen,AnzahlGenesen,IstErkrankungsbeginn
0,1,Schleswig-Holstein,SK Flensburg,A05-A14,1,0,28886606,1597449600000,01001,"18.08.2020, 00:00 Uhr",0,-9,1597449600000,-9,0,0
1,1,Schleswig-Holstein,SK Flensburg,A15-A34,1,0,28886607,1584144000000,01001,"18.08.2020, 00:00 Uhr",0,-9,1584316800000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181866,16,Thüringen,LK Altenburger Land,A80+,2,0,29068507,1590624000000,16077,"18.08.2020, 00:00 Uhr",0,-9,1590624000000,0,2,0
181867,16,Thüringen,LK Altenburger Land,A80+,1,0,29068508,1591660800000,16077,"18.08.2020, 00:00 Uhr",0,-9,1591660800000,0,1,0

In [14]:
data['features'][0]['attributes']['Landkreis']

'SK Flensburg'

In [21]:
frameByLK = dfx.groupby(['Landkreis'])['AnzahlFall', 'AnzahlTodesfall', 'AnzahlGenesen'].sum().reset_index().set_index('Landkreis')

In [22]:
frameByLK

                      AnzahlFall  AnzahlTodesfall  AnzahlGenesen
Landkreis
LK Ahrweiler                 256                1            230
LK Aichach-Friedberg         409               20            385
LK Alb-Donau-Kreis           715               27            656
LK Altenburger Land           79                4             75
LK Altenkirchen              197               11            177
...                          ...              ...            ...
SK Worms                     241                8            222
SK Wuppertal                1291               86           1051
SK Würzburg                  504               52            442
SK Zweibrücken                45                1             43
StadtRegion Aachen          2216              101           2049

[412 rows x 3 columns]

In [24]:
frameByLK.to_csv('frameByLK.csv', index=True, encoding='utf-8')