# Covid-19 data download & processing
---
This Python Script downloads an up-to-date dataset for **Covid-19** and exports the data to the data folder.

The Data is from the **R**obert **K**och **I**nstitut downloaded over [ArcGis Hub](https://hub.arcgis.com/datasets/dd4580c810204019a7b8eb3e0b329dd6?page=15976).

*Script was created on Python: 3.7.6 64-bit Kernel*

In [1]:
import pandas as pd
import math

import io               # file operations
import json

import ssl              # secure client-server connection
import requests         # html-requests

In [2]:
# Uncomment next 2 lines to install jsonmerge
#import sys
#!{sys.executable} -m pip install jsonmerge
from jsonmerge import Merger

In [3]:
sourceURL = 'https://services7.arcgis.com/mOBPykOjAyBO2ZKk/arcgis/rest/services/RKI_COVID19/FeatureServer/0/query?'
objectIdsQuery = 'where=1%3D1&returnIdsOnly=true&f=json'
dataSetQuery = 'where=ObjectId+BETWEEN+0+AND+0' # just an example gets created later dynamically
dataQuery = '&outSR=4326&outFields=IdBundesland,Bundesland,Landkreis,Altersgruppe,AnzahlFall,AnzahlTodesfall,ObjectId,Meldedatum,IdLandkreis,Datenstand,NeuerFall,NeuerTodesfall,Refdatum,NeuGenesen,AnzahlGenesen,IstErkrankungsbeginn&f=json'

## Requesting which Features (ObjectIDÂ´s) are available

In [4]:
objectIdsRequest = requests.get(sourceURL + objectIdsQuery)
objectIdsRequest.status_code

200

In [5]:
objectIds = json.loads(objectIdsRequest.text)

numOfObjectIds = len(objectIds['objectIds'])

objectIdStart = objectIds['objectIds'][0]
objectIdEnd = objectIds['objectIds'][numOfObjectIds - 1]
print(f'Range of ObjectIds: [{objectIdStart}, {objectIdEnd}]')

Range of ObjectIds: [45446382, 45729375]

## Requesting Features

In [6]:
dataRequest = requests.get(sourceURL + 'where=1%3D1' + dataQuery)
dataRequest.status_code

200

In [7]:
data = json.loads(dataRequest.text)
maxApiRequest = len(data['features'])

neededRequests = math.ceil(numOfObjectIds / maxApiRequest)

print(f'The download will require {neededRequests - 1} more requests due to the server limit of {maxApiRequest} features/request.')

The download will require 56 more requests due to the server limit of 5000 features/request.

In [8]:
# Json-Merger with custom rule
jsonMergeSchema = {"properties":{"features":{"mergeStrategy":"append"}}}
dataMerger = Merger(jsonMergeSchema)

In [9]:
i = 0
rangeLowerEnd = data['features'][maxApiRequest - 1]['attributes']['ObjectId'] + 1
rangeUpperEnd = rangeLowerEnd + maxApiRequest

while (i < neededRequests - 1): # neededRequests - 1 because of initial download
    dataSetQuery = f'where=ObjectId+BETWEEN+{rangeLowerEnd}+AND+{rangeUpperEnd}'
    temp_sourceURL = sourceURL + dataSetQuery + dataQuery
    print(i, f'Pulling ObjectIds: [{rangeLowerEnd}, {rangeUpperEnd}]')

    temp_dataRequest = requests.get(temp_sourceURL)
    if (temp_dataRequest.status_code > 200): # stop when a request isnÂ´t working
        print(f'Error in request: {temp_dataRequest.status_code}')
        break
    temp_data = json.loads(temp_dataRequest.text)

    # append new data to already downloaded one
    data = dataMerger.merge(data, temp_data)

    temp_dataLength = len(data['features'])
    t_le = data['features'][0]['attributes']['ObjectId']
    t_ue = data['features'][temp_dataLength - 1]['attributes']['ObjectId']
    print(f'Total collected features: {temp_dataLength} From ObjectIds: [{t_le}, {t_ue}]')

    rangeLowerEnd = rangeUpperEnd + 1
    rangeUpperEnd += maxApiRequest + 1
    if (rangeUpperEnd > objectIdEnd):
        rangeUpperEnd = objectIdEnd
    i += 1

print('Done')

0 Pulling ObjectIds: [45451388, 45456388]
Total collected features: 10000 From ObjectIds: [45446382, 45456387]
1 Pulling ObjectIds: [45456389, 45461389]
Total collected features: 15000 From ObjectIds: [45446382, 45461388]
2 Pulling ObjectIds: [45461390, 45466390]
Total collected features: 20000 From ObjectIds: [45446382, 45466389]
3 Pulling ObjectIds: [45466391, 45471391]
Total collected features: 25000 From ObjectIds: [45446382, 45471390]
4 Pulling ObjectIds: [45471392, 45476392]
Total collected features: 30000 From ObjectIds: [45446382, 45476391]
5 Pulling ObjectIds: [45476393, 45481393]
Total collected features: 35000 From ObjectIds: [45446382, 45481392]
6 Pulling ObjectIds: [45481394, 45486394]
Total collected features: 40000 From ObjectIds: [45446382, 45486393]
7 Pulling ObjectIds: [45486395, 45491395]
Total collected features: 45000 From ObjectIds: [45446382, 45491394]
8 Pulling ObjectIds: [45491396, 45496396]
Total collected features: 50000 From ObjectIds: [45446382, 45496395]
9 Pulling ObjectIds: [45496397, 45501397]
Total collected features: 55000 From ObjectIds: [45446382, 45501396]
10 Pulling ObjectIds: [45501398, 45506398]
Total collected features: 60000 From ObjectIds: [45446382, 45506397]
11 Pulling ObjectIds: [45506399, 45511399]
Total collected features: 65000 From ObjectIds: [45446382, 45511398]
12 Pulling ObjectIds: [45511400, 45516400]
Total collected features: 70000 From ObjectIds: [45446382, 45516399]
13 Pulling ObjectIds: [45516401, 45521401]
Total collected features: 75000 From ObjectIds: [45446382, 45521400]
14 Pulling ObjectIds: [45521402, 45526402]
Total collected features: 80000 From ObjectIds: [45446382, 45526401]
15 Pulling ObjectIds: [45526403, 45531403]
Total collected features: 85000 From ObjectIds: [45446382, 45531402]
16 Pulling ObjectIds: [45531404, 45536404]
Total collected features: 90000 From ObjectIds: [45446382, 45536403]
17 Pulling ObjectIds: [45536405, 45541405]
Total collected features: 95000 From ObjectIds: [45446382, 45541404]
18 Pulling ObjectIds: [45541406, 45546406]
Total collected features: 100000 From ObjectIds: [45446382, 45546405]
19 Pulling ObjectIds: [45546407, 45551407]
Total collected features: 105000 From ObjectIds: [45446382, 45551406]
20 Pulling ObjectIds: [45551408, 45556408]
Total collected features: 110000 From ObjectIds: [45446382, 45556407]
21 Pulling ObjectIds: [45556409, 45561409]
Total collected features: 115000 From ObjectIds: [45446382, 45561408]
22 Pulling ObjectIds: [45561410, 45566410]
Total collected features: 120000 From ObjectIds: [45446382, 45566409]
23 Pulling ObjectIds: [45566411, 45571411]
Total collected features: 125000 From ObjectIds: [45446382, 45571410]
24 Pulling ObjectIds: [45571412, 45576412]
Total collected features: 130000 From ObjectIds: [45446382, 45576411]
25 Pulling ObjectIds: [45576413, 45581413]
Total collected features: 135000 From ObjectIds: [45446382, 45581412]
26 Pulling ObjectIds: [45581414, 45586414]
Total collected features: 140000 From ObjectIds: [45446382, 45586413]
27 Pulling ObjectIds: [45586415, 45591415]
Total collected features: 145000 From ObjectIds: [45446382, 45591414]
28 Pulling ObjectIds: [45591416, 45596416]
Total collected features: 150000 From ObjectIds: [45446382, 45596415]
29 Pulling ObjectIds: [45596417, 45601417]
Total collected features: 155000 From ObjectIds: [45446382, 45601416]
30 Pulling ObjectIds: [45601418, 45606418]
Total collected features: 160000 From ObjectIds: [45446382, 45606417]
31 Pulling ObjectIds: [45606419, 45611419]
Total collected features: 165000 From ObjectIds: [45446382, 45611418]
32 Pulling ObjectIds: [45611420, 45616420]
Total collected features: 170000 From ObjectIds: [45446382, 45616419]
33 Pulling ObjectIds: [45616421, 45621421]
Total collected features: 175000 From ObjectIds: [45446382, 45621420]
34 Pulling ObjectIds: [45621422, 45626422]
Total collected features: 180000 From ObjectIds: [45446382, 45626421]
35 Pulling ObjectIds: [45626423, 45631423]
Total collected features: 185000 From ObjectIds: [45446382, 45631422]
36 Pulling ObjectIds: [45631424, 45636424]
Total collected features: 190000 From ObjectIds: [45446382, 45636423]
37 Pulling ObjectIds: [45636425, 45641425]
Total collected features: 195000 From ObjectIds: [45446382, 45641424]
38 Pulling ObjectIds: [45641426, 45646426]
Total collected features: 200000 From ObjectIds: [45446382, 45646425]
39 Pulling ObjectIds: [45646427, 45651427]
Total collected features: 205000 From ObjectIds: [45446382, 45651426]
40 Pulling ObjectIds: [45651428, 45656428]
Total collected features: 210000 From ObjectIds: [45446382, 45656427]
41 Pulling ObjectIds: [45656429, 45661429]
Total collected features: 215000 From ObjectIds: [45446382, 45661428]
42 Pulling ObjectIds: [45661430, 45666430]
Total collected features: 220000 From ObjectIds: [45446382, 45666429]
43 Pulling ObjectIds: [45666431, 45671431]
Total collected features: 225000 From ObjectIds: [45446382, 45671430]
44 Pulling ObjectIds: [45671432, 45676432]
Total collected features: 230000 From ObjectIds: [45446382, 45676431]
45 Pulling ObjectIds: [45676433, 45681433]
Total collected features: 235000 From ObjectIds: [45446382, 45681432]
46 Pulling ObjectIds: [45681434, 45686434]
Total collected features: 240000 From ObjectIds: [45446382, 45686433]
47 Pulling ObjectIds: [45686435, 45691435]
Total collected features: 245000 From ObjectIds: [45446382, 45691434]
48 Pulling ObjectIds: [45691436, 45696436]
Total collected features: 250000 From ObjectIds: [45446382, 45696435]
49 Pulling ObjectIds: [45696437, 45701437]
Total collected features: 255000 From ObjectIds: [45446382, 45701436]
50 Pulling ObjectIds: [45701438, 45706438]
Total collected features: 260000 From ObjectIds: [45446382, 45706437]
51 Pulling ObjectIds: [45706439, 45711439]
Total collected features: 265000 From ObjectIds: [45446382, 45711438]
52 Pulling ObjectIds: [45711440, 45716440]
Total collected features: 270000 From ObjectIds: [45446382, 45716439]
53 Pulling ObjectIds: [45716441, 45721441]
Total collected features: 275000 From ObjectIds: [45446382, 45721440]
54 Pulling ObjectIds: [45721442, 45726442]
Total collected features: 280000 From ObjectIds: [45446382, 45726441]
55 Pulling ObjectIds: [45726443, 45729375]
Total collected features: 282933 From ObjectIds: [45446382, 45729375]
Done

In [10]:
print('Entries: ', len(data['features']))
print('Structure: ', data['features'][0])
print('Latest data: ', data['features'][0]['attributes']['Datenstand'])

Entries:  282933
Structure:  {'attributes': {'IdBundesland': 1, 'Bundesland': 'Schleswig-Holstein', 'Landkreis': 'SK Flensburg', 'Altersgruppe': 'A00-A04', 'AnzahlFall': 1, 'AnzahlTodesfall': 0, 'ObjectId': 45446382, 'Meldedatum': 1601424000000, 'IdLandkreis': '01001', 'Datenstand': '20.10.2020, 00:00 Uhr', 'NeuerFall': 0, 'NeuerTodesfall': -9, 'Refdatum': 1601424000000, 'NeuGenesen': 0, 'AnzahlGenesen': 1, 'IstErkrankungsbeginn': 0}}
Latest data:  20.10.2020, 00:00 Uhr

In [11]:
def display_n(df,n): 
    with pd.option_context('display.max_rows',n*2):
        display(df)

In [12]:
dfx = pd.DataFrame.from_dict(data['features'])
display_n(dfx, 2)

                                               attributes
0       {'IdBundesland': 1, 'Bundesland': 'Schleswig-H...
1       {'IdBundesland': 1, 'Bundesland': 'Schleswig-H...
...                                                   ...
282931  {'IdBundesland': 16, 'Bundesland': 'ThÃ¼ringen'...
282932  {'IdBundesland': 16, 'Bundesland': 'ThÃ¼ringen'...

[282933 rows x 1 columns]

In [13]:
# turning the collumn attributes in seperated collumns
for rowid in data['fields']:
    dfx[rowid['name']] = dfx.apply(lambda row: row.loc['attributes'][rowid['name']], axis=1)
dfx = dfx.drop(['attributes'], axis=1)
display_n(dfx, 2)

,IdBundesland,Bundesland,Landkreis,Altersgruppe,AnzahlFall,AnzahlTodesfall,ObjectId,Meldedatum,IdLandkreis,Datenstand,NeuerFall,NeuerTodesfall,Refdatum,NeuGenesen,AnzahlGenesen,IstErkrankungsbeginn
0,1,Schleswig-Holstein,SK Flensburg,A00-A04,1,0,45446382,1601424000000,01001,"20.10.2020, 00:00 Uhr",0,-9,1601424000000,0,1,0
1,1,Schleswig-Holstein,SK Flensburg,A00-A04,1,0,45446383,1598227200000,01001,"20.10.2020, 00:00 Uhr",0,-9,1598227200000,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282931,16,ThÃ¼ringen,LK Altenburger Land,A80+,1,0,45729374,1602979200000,16077,"20.10.2020, 00:00 Uhr",0,-9,1602892800000,-9,0,1
282932,16,ThÃ¼ringen,LK Altenburger Land,A80+,1,0,45729375,1603065600000,16077,"20.10.2020, 00:00 Uhr",1,-9,1602892800000,-9,0,1

In [14]:
data['features'][0]['attributes']['Landkreis']

'SK Flensburg'

In [15]:
frameByLK = dfx.groupby(['Landkreis', 'IdLandkreis'])['AnzahlFall', 'AnzahlTodesfall', 'AnzahlGenesen'].sum().reset_index().set_index('Landkreis')

In [16]:
frameByLK

                     IdLandkreis  AnzahlFall  AnzahlTodesfall  AnzahlGenesen
Landkreis
LK Ahrweiler               07131         429                3            372
LK Aichach-Friedberg       09771         617               20            507
LK Alb-Donau-Kreis         08425        1137               26            901
LK Altenburger Land        16077         142                4            110
LK Altenkirchen            07132         391               12            261
...                          ...         ...              ...            ...
SK Worms                   07319         368                8            335
SK Wuppertal               05124        2419               88           1851
SK WÃ¼rzburg                09663         931               52            713
SK ZweibrÃ¼cken             07320          95                1             70
StadtRegion Aachen         05334        3776              111           2950

[413 rows x 4 columns]

In [17]:
frameByLK.to_csv('frameByLK.csv', index=True, encoding='utf-8')

In [18]:
dfx_slim = dfx.drop(columns=['IdBundesland', 'Bundesland', 'ObjectId', 'NeuerFall', 'NeuerTodesfall', 'IstErkrankungsbeginn', 'NeuGenesen', 'Meldedatum', 'Datenstand', 'Landkreis']).groupby(['Refdatum', 'IdLandkreis', 'Altersgruppe']).sum().groupby(['Refdatum', 'IdLandkreis']).sum()
dfx_slim = dfx_slim.groupby(['IdLandkreis', 'Refdatum']).sum().groupby(level=[0]).cumsum()
dfx_slim['acute'] = dfx_slim['AnzahlFall'] - (dfx_slim['AnzahlTodesfall'] + dfx_slim['AnzahlGenesen'])
display_n(dfx_slim, 3)

                           AnzahlFall  AnzahlTodesfall  AnzahlGenesen  acute
IdLandkreis Refdatum
01001       1583798400000           1                0              1      0
            1583884800000           2                0              2      0
            1583971200000           3                0              3      0
...                               ...              ...            ...    ...
16077       1602806400000         135                4            110     21
            1602892800000         140                4            110     26
            1603065600000         142                4            110     28

[59353 rows x 4 columns]

In [19]:
dfx_slim.to_csv('timeFrameByLK.csv', index=True, encoding='utf-8')